<script type="text/html" id="order-delete-template">
    <!--Modal: modalConfirmDelete-->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bind="attr: { 'id' : 'modalConfirmDelete' + serviceId() }">
        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Delete Service Order</p>
                </div>

                <!--Body-->
                <div class="modal-body">
                    Are you sure you want to delete <strong>Order#<span data-bind="text: serviceId"></span></strong>?
                </div>

                <!--Footer-->
                <div class="modal-footer flex-center">
                    <a class="btn  btn-outline-danger" data-bind="click: $parent.removeOrder">Yes</a>
                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: modalConfirmDelete-->
</script>