<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- KnockoutJS -->
<script type="text/javascript" src="js/knockout-3.4.2.js"></script>
<!-- Undersore JS -->
<script type="text/javascript" src="js/underscore-min.js"></script>
<!-- Data -->
<script type="text/javascript" src="js/data.js"></script>
<!-- JS Library -->
<script type="text/javascript" src="js/tracker.js"></script>

<script>
	// Status message options
    toastr.options = {
        "positionClass": "toast-bottom-right",
        "preventDuplicates": true,
    }
</script>